<strong>Available Fields:</strong><br>
<b>{custom}</b> : List of custom field data<br>
<b>{created_nice}</b> : Created Date and time<br>
<b>{date}</b> : Created Date<br>
<b>{name}</b> : Name<br>
<b>{website}</b> : Website<br>
<b>{modcolor}</b> : Styling for moderation. Add to main div<br>
<b>{email}</b> : Email<br>
<b>{created}</b> : Created Date and time (mysql format)<br>
<b>{moderation}</b> : Moderation HTML (ensure that this is included)<br>
