body .body .container header.header .header-inner div.header-search {
	width: 60%;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 17.7%;
}
.searchbar-body .span12.country-select .chzn-container {
	width: 98% !important;
}
.searchbar-body .span12.country-select .chzn-container .chzn-drop {
	width: 91% !important;
}
.searchbar-body .span12.country-select .chzn-container .chzn-drop .chzn-results {
	width: 91% !important;
}
.messages-body .single-message .col-xs-2.col-sm-2 {
	padding-left: 0;
	padding-right: 0;
	width: 21%;
}
.message-delete-button {
	top: 95px;
}
.subscription-page ul li {
	margin-bottom: 10px;
}
em {
	line-height: 20px;
}
.edit-profile-section .form-actions {
/*right:10%;*/

}
.deposit-page .control-group .controls select {
	width: 285px !important;
}
.row-fluid .span3 {
	max-width: 23.4043%;
	float: left;
}
.row-fluid .span6 {
 max-width: 47....%;
}
.font14.description p {
	font-size: 14px;
	text-align: justify;
}
.row-fluid.search-body .span12 .row-fluid .span2 .font14 {
	max-width: 100%;
	text-align: center;
}
fieldset {
	display: table-cell !important;
}
.layout-editprofile fieldset, .layout-viewprofile fieldset {
	min-width: 10%;
}
.searchtradedmen-detail fieldset .row-fluid .span9 .custom-field-gender fieldset .control-group label {
	/*width: 100%;*/

	line-height: 20px;
}
.searchtradedmen-detail fieldset .row-fluid .span9 .control-group .controls {
/*line-height: 25px;*/

}
.chzn-container.chzn-container-multi {
	width: 79% !important;
}
.edit-profile-section.row-fluid .span7 .cropit-image-view .cropit-image-preview.cropit-image-loaded {
/*background-size: 80% auto !important;

 max-width: 100%*/

}
.edit-profile-section.row-fluid .span7 .cropit-image-view {
	max-width: 85%;
}
.messages-body .single-message .col-sm-10.message-text {
	margin-top: 10px;
	max-width: 70%;
	height: auto;
	text-align: justify;
	word-wrap: break-word;
}
.searchtradedmen-detail .page-actions {
/*width: 100%;*/

}
.row-fluid.add-favourite-button .span12 {
	display: inline-block !important;
}
.row-fluid.add-favourite-button .span12 span.view-profile a, .searchtradedmen-detail .tab-content.view-section .tab-pane.rating-tab .rating-button a {
	display: inline-flex;
	text-align: center;
}
.searchtradedmen-detail fieldset .row-fluid .span3 img {
	height: auto;
}
.messages-body .message-user-image.col-sm-1 img {
	max-width: 100%;
	height: auto;
}
.message-delete-button {
	top: 80px;
}
.slider-wrapper .cropit-image-zoom-input {
	max-width: 55%;
}
.searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption {
	max-width: 85%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .thumbnail {
	width: 12%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption {
	max-width: 80%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption h3 {
	margin-top: 0;
	color: #555;
}
.searchtradedmen-detail .tab-content.view-section .tab-pane.rating-tab .jbl_h3title {
	max-width: 70%;
}
.col-sm-12.search-trademen-detail-page .span9.job-description {
	max-width: 74%;
}
.col-sm-12.search-trademen-detail-page .jbl_h3title {
	max-width: 50%;
}
.col-sm-12.search-trademen-detail-page .page-actions {
	width: auto;
}
.left-section {
	width: 16%;
}
.left-section img {
	width: 75%;
}
.edit-profile-body-section {
/*height: 590px;*/

}
.edit-profile-menu {
/*height: 714px;*/

}

/*.cropit-image-preview{

  min-height: 100px;

  height: 200px;

}*/
body.itemid-101 .body .container.header-container {
	background-size: 100% auto;
	box-shadow: none !important;
	height: auto;
	width:100%;
	padding-bottom:0;
}
.header-search-text h1{
	line-height: 65px;
    margin: 8% 0 12%;
	font-size:46px;
}
body.itemid-101 .header-search-text{
	margin-top: 30px;
    width: 50%;
}

/*Responsive Design*/

@media screen and (min-width:1280px) {
.clients-review-section.header-container {
	background-size: 100% 100%;
}
}
@media screen and (max-width: 1200px){
.header-search-text h1 {
    margin: 0 0 12%;
}
}
 @media screen and (max-width:1149px) {
.col-sm-9.project-body-section {
	width: 72%;
}
.edit-profile-section.row-fluid {
	width: 75%;
	max-width: 745px;
}
.header-search-text h1 {
    margin: 5% 0 11%;
	font-size: 40px;
    line-height: 55px;
}
}
 @media screen and (max-width:1039px) {
.col-sm-9.project-body-section {
	background-color: #fff;
	padding: 10px;/*width: 73%;*/

}
.edit-profile-section.row-fluid {
	width: 73%;
}
}
 @media screen and (max-width:1020px) {
body .body .container header.header .header-inner div.header-search {
	width: 60%;
}
.header-search-text h1 {
    font-size: 34px;
    line-height: 46px;
    margin: 0 0 15%;
}
}
 @media screen and (max-width:991px) {
body .body .container header.header .header-inner div.header-search {
	width: 63%;
}
.custom img, .header-inner a.brand img {
	max-width: 100%;
	margin-bottom: 0px;
}
.brand {
	margin-top: 3px;
	width: 35%;
}
body .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton a, body.itemid-101 .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton a {
	font-size: 14px;
	padding-left: 10px;
}
body .header-inner .header-search ul.nav li a, body.itemid-101 .header-inner .header-search ul.nav li a {
	font-size: 14px;
}
.itemid-120 .save-cancel-button input, .itemid-117 .save-cancel-button button, .itemid-117 .save-cancel-button input, .itemid-117 .save-cancel-button button, .crop-save {
	margin-top: 10px;
}
.itemid-120 .edit-profile-section.row-fluid .span5 .btns button, .itemid-117 .edit-profile-section.row-fluid .span5 .btns button {
	margin-bottom: 15px;
}
body.itemid-101 .container.header-container {
	background-size: 100% auto;
	background-color: none;
	height: auto !important;
	padding-bottom: 0 !important;
}

}
 @media screen and (max-width:979px) {
.itemid-191 .row-fluid .span10 {
	max-width: 79%;
}
}
 @media screen and (max-width:965px) {
.col-sm-9.project-body-section {
	background-color: #fff;
	padding: 10px;
	width: 69%;
}
.edit-profile-section.row-fluid {
	width: 72%;
}
.header-search-text h1 {
    margin: 0 0 12%;
}
}
 @media screen and (max-width:925px) {
.brand {
	width: 37%;
}
body .header-inner .header-search ul.nav li a, body.itemid-101 .header-inner .header-search ul.nav li a {
	padding: 10px 5px;
}
body .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton a, body.itemid-101 .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton a {
	padding-left: 5px;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 22.4%;
}
.edit-profile-section.row-fluid {
	width: 71%;
}
body.itemid-101 .header-search-text {
	margin-bottom: 4%;
	width: 55%;
}
.header-search-text h1 {
    margin: 0 0 2%;
}
}
 @media screen and (max-width:885px) {
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 22.2%;
}
.col-sm-9.project-body-section {
	background-color: #fff;
	padding: 10px;
	width: 67%;
}
.col-sm-9.project-body-section .row-fluid.project-single-section .span12 .span7 {
	width: 79%;
}
.edit-profile-section .form-actions {
	padding: 0;
	right: 10%;
}
.itemid-191 .row-fluid .span2 {
	width: 17.894%;
}
.edit-profile-section.row-fluid {
	width: 68%;
}
.header-search-text h1 {
    margin: 0;
}
}
 @media screen and (max-width:865px) {
body .body .container header.header .header-inner div.header-search {
	width: 63%;
}
/*Search Trademan*/

.media-heading > span:nth-child(3) {
	float: left !important;
	margin-top: 10px;
	width: 100%;
}
.col-sm-9.project-body-section .row-fluid.project-single-section .span12 .span3.loacation {
	margin-left: 20px;
	text-align: left;
	margin-top: 7px;
	width: auto;
}
.online-status {
	width: 10px;
}
.row-fluid .span10 {
	margin-top: 0;
	max-width: 78%;
}
.font14.description p {
	font-size: 14px;
}
.col-sm-9.project-body-section .row-fluid.project-single-section .span12 .span7 {
	width: 75.5%;
	float: left;
}
}

/*@media screen and (max-width:849px){

 .edit-profile-section.row-fluid {

    max-width: 69%;

}



}*/

@media screen and (max-width:845px) {
.col-sm-9.project-body-section {
	width: 65%;
}
.header-search-text h1 {
    font-size: 30px;
    line-height: 40px;
}
body.itemid-101 .header-search-text {
    margin-top: 15px;
	 margin-bottom: 6%;
}
}
 @media screen and (max-width:825px) {
.search-options .col-sm-4 a {
	line-height: 30px;
	min-height: 210px;
}
.signup-form {
	width: 55%;
}
body .body .container header.header .header-inner div.header-search {
	width: 67%;
}
.custom img {
	max-width: 100%;
}
.brand {
	width: 32%;
	margin-top: 5px;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 22.2%;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 22%;
}
.edit-profile-section.row-fluid {
	width: 67%;
}
}
 @media screen and (max-width:799px) {
.col-sm-9.project-body-section {
	background-color: #fff;
	padding: 10px;
	width: 100%;
}
.search-job-section .col-sm-3.serch-bar {
	width: 55%;
	float: none;
	margin: 10px auto;
}
.search-bar-banner {
	text-align: center;
}
.col-sm-9.project-body-section .row-fluid.project-single-section .span12 .span7 {
	width: 460px;
}
.row-fluid .span2 {
	max-width: 14.894%;
}
.media-heading > span:nth-child(3) {
	float: right;
	margin-top: 0;
	width: unset;
}
.row-fluid .span10 {
	width: 82.9787%;
}
.row-fluid.project-single-section .span2 {
	float: left !important;
	margin: 0 !important;
}
.edit-profile-menu {
	height: 255px;
	margin-bottom: 20px;
	max-width: 100%;
}
.edit-profile-section.row-fluid {
	width: 100%;
}
.itemid-191 .row-fluid .span10 {
	max-width: 84%;
}
.edit-profile-section.row-fluid .span7 .cropit-image-view {
	width: 100%;
	margin-right: 0;
	max-width: 100%;
}
.edit-profile-section.row-fluid .span7 .cropit-image-view .cropit-image-preview.cropit-image-loaded {
	margin: 0 auto !important;
}
.itemid-120 .edit-profile-section.row-fluid .span5 .btns button, .itemid-117 .edit-profile-section.row-fluid .span5 .btns button {
	margin-bottom: 0px;
}
}
 @media screen and (max-width:780px) {
body .body .container header.header .header-inner div.header-search {
	width: 100%;
}
body .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton {
	float: right;
	width: 100%;
}
body .body .container header.header .header-inner div.header-search ul.nav {
	float: left;
}
.brand {
	float: none !important;
	margin: 0 auto !important;
	text-align: center;
	width: 85%;
}
.header-inner {
	text-align: center;
}
body.itemid-101 .body .container header.header .header-inner div.header-search ul.nav.menu {
	float: left;
	margin: 0px auto;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	margin: 11px 10px;
}
.searchtradedmen-detail fieldset .row-fluid .span9 .custom-field-gender fieldset .control-group .controls {
	text-align: justify;
}
.searchtradedmen-detail fieldset .row-fluid .span9 {
	width: 71%;
	float: left;
}
body.itemid-101 .header-search-text {
    margin-bottom: 8%;
    margin-top: 10px;
}
.header-search-text h1 {
    font-size: 22px;
    line-height: 32px;
}
}
 @media screen and (max-width:767px) {
body.itemid-101 .header-search-text {
    float: none;
    margin: 3% auto 6%;
    text-align: center;
    width: 80%;
}
.header-search-text h1 {
    font-size: 23px;
    line-height: 34px;
}
body.itemid-101 .body .container.header-container {
    background-size: 100% auto !important;
}
.footer-section .col-sm-8 .moduletable {
	margin-top: 20px;
}
.footer-section .col-sm-8 {
	padding-left: 0px;
}
.row-fluid .login {
	width: 55%;
}
.row-fluid .login form fieldset .control-group:nth-child(3) {
	width: 55%;
}
.row-fluid.usergroup-table .span6.well.well-small:first-child {
	border-right: none !important;
}
.row-fluid.usergroup-table .or {
	display: none;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 50%;
	margin: 10px auto;
}
.jbl_h3title.subscription-title {
	font-size: 21px;
	line-height: 35px;
}
.row-fluid.project-single-section .span6 {
	max-width: 53%;
	float: left;
}
.row-fluid .span10 {
	margin-top: 0;
	max-width: 82%;
	margin-left: 10px;
	float: left;
}
.location-info {
	width: 70%;
}
.custom-city {
	margin-left: 180px;
	width: 65%;
}
.project-image img {
	border: 2px solid #ccc;
	height: auto;
	width: 100%;
	max-width: 80px;
	margin-right: 10px;
}
.layout-showmyproject .project-image {
	padding: 0;
	width: 13%;
}
.layout-showmyproject .project-title, .layout-showmyproject .project-description {
	padding-left: 15px;
}
/*Message*/

.messages-body .single-message {
	width: 100%;
	float: left;
}
.messages-body {
	float: left;
}
.messages-body .message-user-image.col-sm-1 {
	float: left;
}
.portfolio-single-section .col-sm-1 {
	padding-right: 0px;
}
.col-sm-12.portfolio-section .col-sm-9 {
	padding: 10px 15px 10px 0;
}
.col-sm-12.portfolio-section .message-body, .col-sm-12.portfolio-section .col-sm-11 {
	padding-left: 10px;
}
.portfolio-single-section .col-sm-1 img.view-listing-image {
	height: auto;
	max-width: 100% !important;
	padding: 0 !important;
	width: unset !important;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	max-width: 100%;
}
.media-heading > span:nth-child(3) {
	float: right;
}
.col-sm-9.project-body-section .row-fluid.project-single-section .span12 .span7 {
	width: 70%;
}
/*Search Tradesmen*/

.itemid-191 .row-fluid .span2 {
	max-width: 16.894%;
	float: left;
}
.itemid-191 .col-sm-9.project-body-section .row-fluid.project-single-section .span12 .span7 {
	float: left;
	margin-left: 20px;
}
.itemid-191 .row-fluid .span10 {
	margin-left: 0;
}
.font14.description p {
	margin-top: 0;
}
.itemid-191 .col-sm-9.project-body-section .row-fluid.project-single-section .media-body h3.media-heading .name {
	margin-bottom: 10px;
}
.hourly-rate .font14 {
	margin-left: 0 !important;
}
.itemid-191 .font14.description p {
	margin-left: 10px;
	margin-top: 0;
}
.edit-profile-section.row-fluid .span5 {
	margin-top: 5% !important;
}
.edit-profile-section.row-fluid .span5 .btns p {
	margin-bottom: 0;
}
.save-cancel-button {
	margin-top: 0;
}
.messages-body .single-message .col-sm-8.message-title {
	font-size: 18px;
}
.messages-body .single-message .col-sm-10.message-text, .messages-body .single-message .col-sm-2 .inbox-date {
	font-size: 14px;
}
.searchtradedmen-detail fieldset .row-fluid .span9 h2 {
	font-size: 21px;
}
.custom-field-info fieldset .control-group label {
	font-size: 20px;
}
.searchtradedmen-detail fieldset .row-fluid .span9 .control-group .controls, .custom-field-info fieldset .control-group .controls, .searchtradedmen-detail fieldset .row-fluid .span9 .custom-field-gender fieldset .control-group label {
	font-size: 14px;
}
.searchtradedmen-detail .search-tradesmen-listing-menu ul li a, fieldset.trademen-info .control-group label {
	font-size: 16px;
}
.searchtradedmen-detail fieldset .row-fluid .span9 .custom-field-gender fieldset .control-group .controls span {
	font-size: 14px;
}
.project-description p {
	min-height: 50px;
	text-align: justify;
}
.edit-profile-body-section .control-group label.control-label {
	font-size: 14px;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .thumbnail {
	width: 16%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption {
	max-width: 77%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption h3 a, .jbl_h3title.list-0f-job {
	font-size: 21px;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption p, .project-description p {
	font-size: 14px;
}
fieldset.trademen-info legend {
	font-size: 22px;
}
.col-sm-12.search-trademen-detail-page .span9.job-description {
	max-width: 100%;
}
.col-sm-12.search-trademen-detail-page .span3.author-info .media-body .media-image a {
	margin: 0 auto;
	float: none !important;
}
.col-sm-12.search-trademen-detail-page .span3.author-info {
	max-width: 100%;
	text-align: center !important;
}
.project-title a {
	font-size: 20px;
	line-height: 23px;
}
.trademen-search-section h1 {
	font-size: 25px;
}
.trademen-search-section p {
	font-size: 14px;
	line-height: 28px;
}
.search-options .col-sm-4 a {
	font-size: 20px;
}
.font16.avail-bal b {
	font-size: 16px;
}
.font16.avail-bal {
	max-width: 45% !important;
}
.transaction-history table tbody tr td {
	font-size: 14px;
}
body.itemid-101 .body .container.header-container {
    background-size: auto 100% !important;
}
}
 @media screen and (max-width:630px) {
.itemid-124 .messages-body .single-message .col-sm-8.message-title {
	max-width: 50%;
}
#jbnav a {
	padding: 8px 10px;
}
body.itemid-101 .body .container header.header .header-inner div.header-search ul.nav.menu {
	margin: 0 auto 10px;
}
}
 @media screen and (max-width:600px) {
.row-fluid .login {
	width: 70%;
}
.signup-form {
	width: 70%;
}
.row .col-sm-12.menu-panel .col-sm-3 {
	width: 75%;
}
.edit-profile-section .form-actions {
	right: 8%;
}
.itemid-137 .subscription-page tfoot {
	display: none;
}
.deposit-page .control-group .controls select {
	padding-left: 15px;
	width: 94% !important;
}
.search-job-section .col-sm-3.serch-bar {
	width: 80%;
}
.messages-body .single-message .col-sm-2 .inbox-date, .messages-body .single-message .col-sm-10.message-text, .messages-body .single-message {
	font-size: 13px;
}
/*search trademan*/

body.itemid-191 .col-sm-9.project-body-section .row-fluid.project-single-section .media-body h3.media-heading span.pull-right .hourly-rate span.font14 {
	margin-left: 0px !important;
}
body.itemid-191 .row-fluid .span3 {
	float: left;
	max-width: 35.404%;
}
.itemid-191 .row-fluid .span10 {
	margin-left: 10px;
}
.checkout-page .jbbox-gradient table, .checkout-page .jbbox-gradient thead, .checkout-page .jbbox-gradient tbody, .checkout-page .jbbox-gradient th, .checkout-page .jbbox-gradient td, .checkout-page .jbbox-gradient tr {
	display: block;
}
.checkout-page .jbbox-gradient thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.checkout-page .jbbox-gradient tr {
	border: 1px solid #ccc;
}
.checkout-page .jbbox-gradient tfoot td {
	padding-left: 0;
}
.checkout-page .jbbox-gradient td {
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	white-space: normal;
	text-align: left;
}
.checkout-page .jbbox-gradient td:before {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}
.checkout-page .jbbox-gradient td:before {
	content: attr(data-title);
}
}
.checkout-page .jbbox-gradient table tbody tr td {
	text-align: right;
	/* padding: 10px 4% 10px 50%;*/

	padding: 15px 15px;
}
.itemid-117 .edit-profile-body-section {
/*min-height:630px;*/

}
.edit-profile-section.row-fluid {
/*height: 714px;*/

}
.edit-profile-section.row-fluid .span5 .btns p {
	font-size: 13px;
	line-height: 20px;
}
tfoot {
	display: none;
}
}
 @media screen and (max-width:599px) {
.messages-body .single-message .col-sm-10.message-text {
	max-width: 50%;
}
.location-info {
	width: 90%;
}
.buy-subscription-page .transfer-type .control-group label.control-label {
	margin-top: 20px;
}
}
 @media screen and (max-width:570px) {
#jbnav a {
	padding: 8px 8%;
}
.messages-body .single-message .col-sm-8.message-title {
	margin-bottom: 0px;
}
.buy-subscription-page .transfer-type {
	float: left;
	width: 100%;
	text-align: justify;
	padding-left: 0;
	margin-bottom: 20px;
}
.buy-subscription-page .row-fluid .plan-select {
	float: none;
	width: 90%;
	margin: 0 auto;
}
.buy-subscription-page .transfer-type .control-group .controls {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 20px !important;
}
.buy-subscription-page p.jbbox-info {
	width: 100% !important;
	margin: 0;
}
.buy-subscription-page div.form-actions {
	padding: 12px 20px 12px 0;
	float: left;
}
}
 @media screen and (max-width:535px) {
body .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton {
	float: none;
	margin: 0 auto;
	width: 100%;
}
ul.nav.menu {
	float: none !important;
	margin: 0 auto !important;
}
.header .nav.pull-right, .header-search {
	text-align: center;
}
.row-fluid .span10 {
	max-width: 80.979%;
}
#jbMenu .jbMenuLft .jbMenuBar ul li a {
	font-size: 14px;
}
#jbnav a {
	padding: 8px 8%;
}
#jbMenu .jbMenuBar {
	margin-left: 0px;
}
.jbMenuIcon #jbMenuNotify {
	margin: 6px 10px;
}
.searchtradedmen-detail fieldset .row-fluid .span9 {
	width: 70%;
}
/*search trademan*/

.itemid-191 .row-fluid .span2 img {
	max-width: 90%;
}
}
 @media screen and (max-width:520px) {
.message-delete-button {
	left: 80%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .thumbnail {
	float: none;
	margin: 0 auto;
	width: 35%;
}
.layout-viewprofile .searchtradedmen-detail .tab-content.view-section .tab-pane .row-fluid ul.thumbnails li .caption {
	margin-left: 0;
	margin-top: 20px;
	max-width: 100%;
	width: 100%;
}
.layout-viewprofile .row-fluid .span3 {
	max-width: 50%;
	float: none;
	margin: 0 auto !important;
}
.layout-showmyproject .project-image {
	width: 100%;
	float: left;
	text-align: center !important;
}
.layout-showmyproject .project-image a.pull-left {
	float: none !important;
}
.layout-showmyproject .project-image img {
	margin-right: 0px;
	max-width: 115px;
}
.layout-showmyproject .project-title {
	margin-top: 15px;
}
.layout-showmyproject .row-fluid.single-project .col-sm-2.action-bar {
	width: 30%;
	margin-top: 15px;
}
.layout-showmyproject .project-description {
	width: 100%;
}
}
 @media screen and (max-width:499px) {
.header-search-text h1 {
	font-size: 17px;
	line-height: 28px;
}
body.itemid-101 .header-search-text {
	width: 90%;
}
.footer-section .col-sm-8 .moduletable {
	text-align: center;
	width: 50%;
}
.row-fluid .login form fieldset .control-group:nth-child(3) .control-label {
	width: 55%;
}
.signup-form {
	width: 75%;
}
#jbnav a {
	padding: 8px 7%;
}
.col-sm-12.portfolio-section .message-body, .col-sm-12.portfolio-section .col-sm-11 {
	width: 100%;
}
.portfolio-single-section .col-sm-1 {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.portfolio-single-section .col-sm-1 img.view-listing-image {
	width: 45% !important;
}
.col-sm-12.portfolio-section .col-sm-9 {
	font-size: 20px;
	width: auto;
}
.col-sm-12.portfolio-section .message-body {
	font-size: 13px;
	text-align: justify;
}
.edit-profile-body-section .control-group.custom_gender .controls label {
	min-width: 40%;
}
.edit-profile-body-section .control-group.location-field {
	width: 100%;
}
/* .edit-profile-section .form-actions{

     bottom: 40px;

  }*/

.edit-profile-body-section .control-group.location-field-city {
	width: 100%;
	margin-top: 0;
}
.itemid-117 .edit-profile-section.row-fluid {
	min-height: 715px;
}
.itemid-117 .edit-profile-section .form-actions {
	bottom: 15px;
}
.row-fluid.add-favourite-button .span12 span.view-profile a {
	padding: 6px 7px;
}
.messages-body .single-message .col-xs-2.col-sm-2 {
	width: 25%;
	margin-right: 0 !important;
}
.searchtradedmen-detail .tab-content.view-section .tab-pane.rating-tab .rating-button {
	width: 42%;
}
.searchtradedmen-detail .page-actions {
	text-align: center;
}
.itemid-119 .searchtradedmen-detail fieldset .row-fluid .span9 {
	width: 89%;
}
.edit-profile-body-section {
	min-height: 600px;
}
.edit-profile-section .form-actions {
	bottom: 0;
}
.itemid-120 .tab-pane#4 .edit-profile-body-section {
	min-height: 565px;
}
}
 @media screen and (max-width:475px) {
#jbnav a {
	padding: 8px 6%;
}
#jbMenu .jbMenuLft .jbMenuIcon #jbMenuNotify {
	margin: 6px 5px;
}
#jbMenu .jbMenuLft .jbMenuIcon #jbMenuNotify {
	margin: 6px 5px;
}
.portfolio-single-section .col-sm-1 {
	text-align: center;
	width: 100%;
}
.portfolio-single-section .col-sm-1 img.view-listing-image {
	width: 45% !important;
}
.messages-body .message-user-image.col-sm-1 {
	text-align: center;
	width: 100%;
}
.messages-body .message-user-image.col-sm-1 span.pull-left {
	float: none !important;
}
.message-delete-button {
	top: 75%;
}
.messages-body .single-message .col-xs-2.col-sm-2 {
	margin-right: 20px;
}
.message-delete-button {
	left: 73%;
}
.custom-city {
	margin-left: 0;
	width: 100%;
}
.left-section {
	width: 100%;
	text-align: center;
}
.left-section img {
	width: 35%;
}
}
 @media screen and (max-width:470px) {
.row-fluid .login {
	width: 90%;
}
}
 @media screen and (max-width:460px) {
#jbMenu .jbMenuLft .jbMenuBar ul li {
	padding: 5px 0 0 !important;
}
#jbnav a {
	padding: 8px 3% 8px 6%;
}
.row-fluid .span2 {
	max-width: 100%;
	text-align: center;
}
.row-fluid.search-body .span12 .row-fluid .span2 .font14 {
	margin: 5px auto;
}
.row-fluid .span10 {
	max-width: 94%;
	width: 95%;
}
.itemid-191 .span12, .row-fluid .span12 {
	float: left;
}
.itemid-191 .col-sm-9.project-body-section .row-fluid.project-single-section .username {
	text-align: center;
	width: 100%;
}
.itemid-191 .row-fluid .span2 {
	float: left;
	text-align: center;
	width: 100%;
}
.itemid-191 .span12, .row-fluid .span12 .span2:nth-child(1) {
	float: none !important;
	margin: 0 auto !important;
}
.itemid-191 .row-fluid .span10, .itemid-191 .font14.description p {
	margin-left: 0px;
}
.itemid-191 .media-heading > span:nth-child(3) {
	display: inline-block !important;
}
.itemid-191 .row-fluid.project-single-section .span12 .span7 .media-body .media-heading a.contact-us {
	display: inline-block;
	line-height: 20px;
	margin-top: 10px;
	padding: 0 5px;
}
.itemid-191 .row-fluid.project-single-section .span12 .span7 .media-body .media-heading span a.remove-favourite {
	display: inline-block;
}
.itemid-191 .row-fluid .span10 {
	max-width: 96%;
}
.layout-editprofile .row-fluid .span3 {
	float: none;
	margin: 0 auto;
	max-width: 70%;
}
.layout-editprofile .searchtradedmen-detail fieldset .row-fluid .span9 {
	margin-left: 0;
	width: 100%;
}
.edit-profile-section.row-fluid .span7 .cropit-image-view .cropit-image-preview.cropit-image-loaded {
	height: 180px;
}
.layout-showmyproject .project-title {
	width: 100%;
	text-align: center;
}
.layout-showmyproject .row-fluid.single-project .col-sm-2.action-bar {
	width: 100%;
	margin: 15px auto !important;
	float: none;
	text-align: center;
}
.font16.avail-bal {
	margin-top: 0px !important;
	float: left !important;
	text-align: left;
	max-width: 100% !important;
}
}
 @media screen and (max-width:440px) {
#jbMenu .jbMenuLft .jbMenuBar ul li a {
	font-size: 14px;
}
}
 @media screen and (max-width:420px) {
#jbMenu .jbMenuLft .jbMenuBar ul li a {
	font-size: 12px;
}
.jbl_h3title.subscription-title {
	margin-bottom: 10px;
	width: 100%;
}
p.get-button {
	float: left;
}
.input-prepend.input-append {
	max-width: 94%;
}
.edit-profile-body-section .control-group .controls .input-prepend.input-append span.add-on {
	font-size: 13px;
	padding: 10px 11px;
}
.edit-profile-body-section .control-group .controls .input-prepend.input-append input {
	width: 53% !important;
}
}
 @media screen and (max-width:399px) {
.edit-profile-section .form-actions {
	background-color: #fff;
	border-top: medium none;
	bottom: 0;
	float: none;
	margin: -70px auto !important;
	padding: 0 !important;
	position: unset;
	right: 0px;
	width: 82%;
}
.control-group.reply-message .controls a {
	font-size: 15px;
	padding: 8px 15px;
}
#jbnav a {
	padding: 8px 4px;
}
#jbMenu .jbMenuLft .jbMenuIcon #jbMenuNotify {
	margin: 6px 0;
}
#jbMenu .jbMenuIcon {
	float: left;
}
.col-sm-12.portfolio-section .col-sm-2 {
	text-align: center;
	width: 100%;
}
.col-sm-12.portfolio-section .col-sm-9 {
	float: none;
	text-align: center;
}
.edit-profile-section .form-actions .save-cancel-button input[type="submit"], .edit-profile-section .form-actions .save-cancel-button input[type="button"], .save-cancel-button .crop-save, .save-cancel-button:nth-child(2), .edit-profile-section.row-fluid .span5 .save-cancel-button button, .edit-profile-section.row-fluid .span5 .save-cancel-button input, .compose-message-fields .form-actions input[type="submit"], .compose-message-fields .form-actions input[type="button"] {
	padding: 5px 18px;
	font-size: 14px;
}
body.itemid-101 .header-inner .header-search ul.nav li.item-187 {
	margin-left: 10px !important;
}
body .header-inner .header-search ul.nav li a, body.itemid-101 .header-inner .header-search ul.nav li a {
	padding: 10px 3px;
}
.row-fluid .login form fieldset .control-group .controls button {
	padding: 10px 20px;
}
.edit-profile-section.row-fluid .span5 .btns button {
	padding: 7px 10px;
	font-size: 16px;
}
div.btns button {
	width: 120px;
	margin-bottom: 10% !important;
}
}
 @media screen and (max-width:370px) {
#jbMenu {
	min-height: 80px;
}
}
 @media screen and (max-width:360px) {
.row-fluid .login {
	width: 100%;
}
body.itemid-211 ul.nav-stacked {
	width: 100%;
}
body .header-inner .header-search ul.nav li a, body.itemid-101 .header-inner .header-search ul.nav li a, body .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton a, body.itemid-101 .body .container header.header .header-inner div.header-search .user-dropdown-menu .login-greetings.dropdownbutton a {
	font-size: 12px;
}
.itemid-117 .save-cancel-button {
	width: 103% !important;
}
.edit-profile-section.row-fluid .span7 .cropit-image-view .cropit-image-preview.cropit-image-loaded {
	height: 140px;
}
.slider-wrapper .cropit-image-zoom-input {
	margin: 0 5px;
}
}
 @media screen and (max-width:340px) {
.input-prepend.input-append {
	width: 56%;
}
#jbMenu .jbMenuBar {
	margin-left: 0;
}
#jbMenu .jbMenuLft {
	padding-left: 0;
}
#jbnav a {
	padding: 8px 3px;
}
}
