.myimage{
  max-width: 480px;
  max-height: 480px;
}
.mwwrap {
    max-width: 980px;
    margin: 0px auto;
    left: 0;
    right: 0;
    
    position: absolute;
    bottom: -100px;
    height: 0px;
}
.itemmw_first {
    margin: 15px;
}
.itemmw {
    margin: 15px;
    float:left;
    width: 30%;
}
.moremw {
    padding-left: 10px;
}

.clearfix:before, .clearfix:after {content:" ";display: table;}
.clearfix:after {clear: both;}

.clearfix:before, .clearfix:after {content:" ";display: table;}
.clearfix:after {clear: both;}
body, h1, h2, h3, h4, h5, h6, p, img, a, ul, ol, li, form, input, select, textarea { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; }
header, footer, nav, article, section { display: block; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: 1.2em; }
@font-face {
	font-family: "sofia_prolight";
	font-style: normal;
	font-weight: normal;
	src: url('sofiaprolight-webfont.eot') format("embedded-opentype"), url('sofiaprolight-webfont.woff2') format("woff2"), url('sofiaprolight-webfont.woff') format("woff"), url('sofiaprolight-webfont.ttf') format("truetype"), url('sofiaprolight-webfont.svg') format("svg");
}
body, table, td, tr, th, input, textarea, select { font-size: 16px; color: rgb(60, 61, 60); font-family: 'sofia_prolight',Arial,sans-serif; line-height: 1.3em; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
p { margin: 1.2em 0px; }
h2 { color: rgb(45, 139, 204); margin: 1em 0px; font-size: 24px; }
h3 { color: rgb(45, 139, 204); margin: 1em 0px; font-size: 20px; }
a { text-decoration: none; color: rgb(190, 55, 0); }
a:hover, a:focus, a:active { color: rgb(249, 117, 62); }
article { padding: 10px 0px 20px; }
.hr { border-top: 1px solid rgb(185, 185, 185); width: 100%; padding-bottom: 20px; }
body { text-align: center; }
#page, #page_lower, .wrapper { width: 80%; min-width: 320px; max-width: 1000px; margin: auto; text-align: left; }
#page { padding-bottom: 25px; }
.inner_full { width: 100%; }
.one_third, #page .one_third { width: 28%; }
.two_third, #page .two_third { width: 62%; }
.left, #page .left { float: left; }
.right, #page .right { float: right; }
a.download_btn { padding: 20px 33px; text-decoration: none ! important; color: rgb(255, 255, 255) ! important; background: none repeat scroll 0% 0% rgb(64, 113, 20); border-radius: 8px 8px 8px 8px; font-size: 25px; margin: 0px auto; transition: all 0.3s ease 0s ; display: inline-block; }
a.download_btn:hover, a.download_btn:focus, a.download_btn:active { background: none repeat scroll 0% 0% rgb(93, 170, 25); }
#masthead { background: url('header_001.jpg') no-repeat scroll center center rgb(3, 126, 217); padding: 29px 0px; }
.ms-logo { margin-right: 10%; }
.logo { margin-left: 5%; }
#mainmenu { width: 100%; background: none repeat scroll 0% 0% rgb(190, 55, 0); border-bottom: 3px solid rgb(130, 38, 1); }
#mainmenu ul { list-style: none outside none; }
#mainmenu li { float: left; border-right: 1px solid rgb(130, 38, 1); border-left: 1px solid rgb(244, 96, 35); }
#mainmenu li:last-child {  }
#mainmenu li a { display: block; font-size: 20px; color: rgb(152, 218, 216); padding: 15px 18px; transition: all 0.3s ease 0s ; }
#mainmenu li a:hover, #mainmenu li a:active, #mainmenu li a:focus { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(249, 117, 62); }
#mainmenu .menu li a, #mainmenu .menu li { display: block; text-decoration: none; }
#mainmenu .menu li a { border-bottom: 0px none; color: rgb(255, 255, 255); white-space: nowrap; }
#mainmenu .menu li a:hover { color: rgb(255, 255, 255); }
#mainmenu .menu li { margin: 0px; position: relative; }
#mainmenu .menu .current-menu-item > a, #mainmenu .menu .current-menu-ancestor > a, #mainmenu .menu .current_page_item > a, #mainmenu .menu .current_page_ancestor > a { background-color: rgb(249, 117, 62); color: rgb(255, 255, 255); border-left: 1px solid rgb(251, 157, 118); }
#colophon { background: none repeat scroll 0% 0% rgb(171, 50, 0); font-size: 14px; padding: 10px 0px 40px; color: rgb(255, 255, 255); }
#colophon, #colophon a { color: rgb(255, 255, 255); text-decoration: underline; transition: color 0.3s ease 0s; }
#colophon a:hover, #colophon a:active, #colophon a:focus { color: rgb(249, 117, 62); }
#colophon ul { list-style: none outside none; }
#colophon li { float: left; border-right: 1px solid rgb(255, 255, 255); padding: 0px 6px; }
#colophon li:last-child { border-right: 0px none; padding-right: 0px; }
#colophon .right { text-align: right; }
.menu-footer-menu-container { line-height: 1em; margin: 1.3em 0px; padding-bottom: 1px; }
.small { font-size: 12px; }
#page ul li, #page ol li, #page_lower ul li, #page_lower ol li { margin: 0.5em 0px 0.5em 3%; }
#page ul li, #page_lower ul li { list-style-image: url('bullet.png'); }
.nonresponsiveimage { width: 100%; height: 100%; }
.home #page_lower .two_third { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.home .inner_full { margin-bottom: 55px; }
.home .inner_full img { width: 100%; }
#page_lower .one_third { width: 30%; float: left; padding: 0px 1%; }
#page_lower .two_third { width: 62%; float: left; }
.home #page_lower .two_third > h3 { margin-top: 0px; }
#main_slider { margin: 10px auto; border: 1px solid rgb(151, 151, 151); }
.solil_slider { overflow: hidden; }
.alignnone { clear: both; }
.cf, .clear { clear: both; }
.cf:before, .cf:after { content: " "; display: block; }
.cf:after { clear: both; }
.pplink { font-size: 12px; }
@media only screen and (max-width: 1480px) {
}
@media only screen and (max-width: 1180px) {
	#page_lower .one_third img { width: 100%; height: 100%; }
	#page_lower .one_third .download_btn { padding: 20px 2%; text-align: center; }
}
@media only screen and (max-width: 1110px) {
}
@media only screen and (max-width: 1075px) {
}
@media only screen and (max-width: 922px) {
	#mainmenu li a { font-size: 22px; padding: 22px 12px; }
	#colophon .left, #colophon .right, #colophon .two_third, #colophon .one_third { clear: both; width: 100%; margin: auto; text-align: left; overflow: hidden; }
	#colophon { padding-bottom: 40px; }
}
@media only screen and (max-width: 850px) {
}
@media only screen and (max-width: 780px) {
	#page_lower .two_third, #page .two_third, #page_lower .one_third, #page .one_third { width: 100%; clear: both; }
	#main_slider { display: none; }
}
@media only screen and (max-width: 340px) {
	#page ul li, #page ol li, #page_lower ul li, #page_lower ol li { margin: 0.5em 0px 0.5em 5%; }
	#page ul li, #page_lower ul li { list-style-image: none; }
}

@font-face {
	font-family: "wprmenu";
	font-style: normal;
	font-weight: normal;
	src: url('wprmenu.eot') format("embedded-opentype"), url('wprmenu.woff') format("woff"), url('wprmenu.ttf') format("truetype"), url('wprmenu.svg') format("svg");
}
#wprmenu_bar, #wprmenu_bar *, #wprmenu_menu, #wprmenu_menu * { margin: 0px; padding: 0px; -moz-box-sizing: border-box ! important; font-family: 'Open Sans',sans-serif; list-style: none outside none; text-align: left; font-size: 100%; font-weight: normal; }
#wprmenu_bar { position: fixed; top: 0px; left: 0px; background: none repeat scroll 0% 0% rgb(13, 13, 13); padding: 10px 16px; width: 100%; cursor: pointer; z-index: 98; overflow: hidden; display: none; }
#wprmenu_bar .menu_title { color: rgb(242, 242, 242); font-weight: 400; font-size: 20px; line-height: 20px; }
#wprmenu_bar .wprmenu_icon { width: 20px; height: 22px; overflow: hidden; float: left; margin-right: 16px; padding-top: 2px; position: relative; }
#wprmenu_bar .wprmenu_icon span { transition: all 0.01s ease-in-out 0s ; display: block; position: absolute; width: 20px; height: 4px; left: 0px; background: none repeat scroll 0% 0% rgb(242, 242, 242); }
#wprmenu_bar .wprmenu_ic_1 { top: 0px; }
#wprmenu_bar .wprmenu_ic_2 { top: 7px; }
#wprmenu_bar .wprmenu_ic_3 { top: 14px; }
body { position: relative ! important; }
#wprmenu_menu.left, #wprmenu_menu.right { display: none; position: fixed; height: 100%; z-index: 97; overflow-y: auto; background: none repeat scroll 0% 0% rgb(46, 46, 46); top: 42px; padding-bottom: 43px; }
@media only screen and (max-width: 782px) {
}
#wprmenu_menu ul { margin: 0px; padding: 0px; display: block; width: 100%; position: relative; list-style: none outside none; }
#wprmenu_menu ul li { display: block; list-style: none outside none; }
#wprmenu_menu ul li a, #wprmenu_menu ul li a:hover { border-bottom: 1px solid rgb(19, 18, 18); border-top: 1px solid rgb(71, 71, 71); display: block; color: rgb(211, 211, 211); padding: 13px 14px; font-size: 14px; margin: 0px; text-decoration: none; }
#wprmenu_menu.wprmenu_levels ul li { display: block; overflow: hidden; border-bottom: 1px solid rgb(19, 18, 18); border-top: 1px solid rgb(71, 71, 71); width: 100%; position: relative; }
#wprmenu_menu.wprmenu_levels ul li a { float: left; border: medium none; width: 100%; }
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C600&ver=4.6.1 ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatxhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth { float: left; }
.clear_column { clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow: hidden; }
.one_third { width: 33.3%; }
.two_third { width: 66.6%; }
@media screen and (max-width: 600px) {
	.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth { clear: both; width: 100%; margin-left: 0px; margin-right: 0px; margin-bottom: 1em; }
}
#wprmenu_bar { background: none repeat scroll 0% 0% rgb(13, 13, 13); }
#wprmenu_bar .menu_title, #wprmenu_bar .wprmenu_icon_menu { color: rgb(242, 242, 242); }
#wprmenu_menu { background: none repeat scroll 0% 0% rgb(190, 55, 0) ! important; }
#wprmenu_menu.wprmenu_levels ul li { border-bottom: 1px solid rgb(130, 38, 1); border-top: 1px solid rgb(130, 38, 1); }
#wprmenu_menu ul li a { color: rgb(207, 207, 207); }
#wprmenu_menu ul li a:hover { color: rgb(255, 255, 255); }
#wprmenu_bar .wprmenu_icon span { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#wprmenu_menu.left { right: auto; }
@media only screen and (max-width: 650px) {
	html { padding-top: 42px ! important; }
	#wprmenu_bar { display: block ! important; }
	#mainmenu { display: none ! important; }
}
