.pricing h3,.pricing h4 { color: white; }
.pricing ul {
  display: block;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  list-style-type: none;
  line-height: 23px;
  color: #7d7d7d;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pricing ul > li {
  padding: 10px 0;
  border: 1px solid #ddd;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e2e2e;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f4f4f4;
  /*&:nth-child(even){
      background: #f4f4f4;
    }*/
}
.pricing ul > li:nth-child(odd) { background: #f8f8f8; }
.pricing ul.featured,
.pricing ul:hover {
  position: relative;
  //margin-top: -20px;
  //margin-bottom: 20px;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}
.pricing.featured { padding-top: 40px; }
.pricing.collpase-margin { display: inline-block; *display: inline; zoom: 1; margin: 0 auto; }
.pricing.collpase-margin ul { margin-left: 0 !important; margin-right: 0 !important; }
.pricing.comparison { display: inline-block; *display: inline; zoom: 1; margin: 0 auto; }
.pricing.comparison ul:first-child:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.pricing.comparison ul:first-child > li { font-weight: bold; }
.pricing.comparison ul:hover {/*  margin-top: 10px; margin-bottom: 0; */ }
.pricing.comparison ul li:first-child { background: #e5e5e5; }
.pricing.comparison ul { margin-left: 0 !important; margin-right: 0 !important; }
.pricing .lead {
  display: block;
  margin: 0;
  border-top: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #999999;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 2px 0 rgba(255,255,255,0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 2px 0 rgba(255,255,255,0.3) inset;
  box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 2px 0 rgba(255,255,255,0.3) inset;
}
/* Skin Mixin */
/* Skin */
.pricing .lead,
.pricing .lead.orange {
  border: 1px solid #d3480d;
  border-left-color: #f16022;
  background-image: -moz-linear-gradient(top, #f3753f, #f16022) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3753f), to(#f16022)) !important;
  background-image: -webkit-linear-gradient(top, #f3753f, #f16022) !important;
  background-image: -o-linear-gradient(top, #f3753f, #f16022) !important;
  background-image: linear-gradient(#f3753f, #f16022) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3753f', endColorstr='#fff16022', GradientType=0) !important;
  *background: #f16022;
}
.pricing .lead.green {
  border: 1px solid #668a26;
  border-left-color: #84b231;
  background-image: -moz-linear-gradient(top, #95c939, #84b231) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95c939), to(#84b231)) !important;
  background-image: -webkit-linear-gradient(top, #95c939, #84b231) !important;
  background-image: -o-linear-gradient(top, #95c939, #84b231) !important;
  background-image: linear-gradient(#95c939, #84b231) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95c939', endColorstr='#ff84b231', GradientType=0) !important;
  *background: #84b231;
}
.pricing .lead.blue {
  border: 1px solid #3b7bbc;
  border-left-color: #5e95cc;
  background-image: -moz-linear-gradient(top, #75a4d3, #5e95cc) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75a4d3), to(#5e95cc)) !important;
  background-image: -webkit-linear-gradient(top, #75a4d3, #5e95cc) !important;
  background-image: -o-linear-gradient(top, #75a4d3, #5e95cc) !important;
  background-image: linear-gradient(#75a4d3, #5e95cc) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75a4d3', endColorstr='#ff5e95cc', GradientType=0) !important;
  *background: #5e95cc;
}
.pricing .lead.red {
  border: 1px solid #a12f3d;
  border-left-color: #c63d4e;
  background-image: -moz-linear-gradient(top, #cd5564, #c63d4e) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd5564), to(#c63d4e)) !important;
  background-image: -webkit-linear-gradient(top, #cd5564, #c63d4e) !important;
  background-image: -o-linear-gradient(top, #cd5564, #c63d4e) !important;
  background-image: linear-gradient(#cd5564, #c63d4e) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd5564', endColorstr='#ffc63d4e', GradientType=0) !important;
  *background: #c63d4e;
}
.pricing .lead.grey {
  border: 1px solid #a1a1a1;
  border-left-color: #bababa;
  background-image: -moz-linear-gradient(top, #c9c9c9, #bababa) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c9c9c9), to(#bababa)) !important;
  background-image: -webkit-linear-gradient(top, #c9c9c9, #bababa) !important;
  background-image: -o-linear-gradient(top, #c9c9c9, #bababa) !important;
  background-image: linear-gradient(#c9c9c9, #bababa) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9c9c9', endColorstr='#ffbababa', GradientType=0) !important;
  *background: #bababa;
}
.pricing .lead.black {
  border: 1px solid #454545;
  border-left-color: #5e5e5e;
  background-image: -moz-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d6d6d), to(#5e5e5e)) !important;
  background-image: -webkit-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
  background-image: -o-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
  background-image: linear-gradient(#6d6d6d, #5e5e5e) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d6d6d', endColorstr='#ff5e5e5e', GradientType=0) !important;
  *background: #5e5e5e;
}
@media (max-width: 767px) {
  .pricing ul { display: inline-block; }
  .pricing ul.featured, .pricing ul:hover { margin-top: 0; }
}

/* User group selection */
.usergroup-table .userrole { border-radius: 5px; -moz-box-shadow: 0 0 10px #aaa; -webkit-box-shadow: 0 0 10px #aaa; box-shadow: 0 0 10px #aaa; }
.userrole { color: #ff; background-color: #5e5f59; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.userrole:hover { background-color: #fff; -moz-box-shadow: 0 0 12px 3px #b0b2ab; -webkit-box-shadow: 0 0 12px 3px #b0b2ab; box-shadow: 0 0 12px 3px #b0b2ab; }
.userrole-name { padding: 10px; color: #fff; background-color: #5e95cc; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.userrole-name h2 {	color: white; }
/* .usergroup-table .userrole ul { list-style: none; }
.usergroup-table .userrole ul li { padding: 10px 10px; border-top: 1px solid #c5c8c0; } */