.joms-textarea__wrapper {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}

.joms-textarea__beautifier {
    color: transparent !important;
    height: auto !important;
    min-height: 0;
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.joms-textarea__beautifier b {
    background: #DCDFEA;
    background-image: linear-gradient(#DCE6F8, #BDCFF1);
    box-shadow: 0 0 0 1px #A3BCEA;
    border-radius: 2px;
    display: inline;
    font-weight: normal !important;
}

.joms-textarea__wrapper .joms-textarea {
    font-size: 13px;
    line-height: 14px;
    margin: 0;
    padding-right: 25px;
}

.joms-textarea__wrapper textarea.joms-textarea {
    background: none;
    position: relative;
}

.joms-textarea__hidden {
    display: none;
}

.joms-textarea__tag-ct {
    background: #FFF;
    border: 1px solid rgba(82, 168, 236, 0.8);
    border-top-width: 0;
    display: none;
    padding: 5px 0;
    position: absolute;
        left: 0;
        right: 0;
    z-index: 1;
}

.joms-textarea__tag-item {
    display: block;
    padding: 4px 8px;
    white-space: nowrap;
}

.joms-textarea__tag-item,
.joms-textarea__tag-item:hover,
.joms-textarea__tag-item:focus {
    color: inherit;
    text-decoration: none;
}

.joms-textarea__tag-item:hover,
.joms-textarea__tag-item--active {
    background-color: rgba(82, 168, 236, 0.8);
    color: #FFF;
}

.joms-textarea__tag-item img {
    height: 32px;
    margin-right: 8px;
    width: 32px;
}
